html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  height: 10px;
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  -webkit-border-radius: 6ex;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
